<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0">
<!-- width=device-width, -->
        <title>New Web Project</title>

        <link type="text/css" rel="stylesheet" media="all" href="www/css/jquery.mobile-1.4.0.css" />
        <link type="text/css" rel="stylesheet" media="all" href="www/css/jquery.mmenu.all.css" />
		<link type="text/css" rel="stylesheet" media="all" href="www/css/jqm-datebox-1.4.0.min.css" />
		<link type="text/css" rel="stylesheet" media="all" href="www/css/custom.css" />

        <script type="text/javascript" src="www/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="www/js/jquery.mobile-1.4.0.js"></script>
        <script type="text/javascript" src="www/js/jqm-datebox-1.4.0.comp.calbox.min.js"></script>
        <script type="text/javascript" src="www/js/jqm-datebox-1.4.0.mode.datebox.min.js"></script>
        <!-- <script type="text/javascript" src="www/js/jquery.mmenu.min.all.js"></script> -->
   		<script type="text/javascript" src="www/js/underscore-1.5.2.js"></script>
        <script type="text/javascript" src="www/js/parse-1.2.16.js"></script>
        <script type="text/javascript" src="www/js/fastclick.js"></script>
        <script type="text/javascript" src="www/js/myscript.js"></script>
		<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
         -->

   		<!-- <script type="text/javascript">
   		   $(document).ready(function() {
   		       if(!menuInited) {
    		      $("#menu").mmenu({
    		         classes: "mm-light mm-slide",
             		 zposition: "front",
             		 onClick: {setSelected: true, preventDefaut: null, close: true, blockUI: null}
    		      });

    		      menuInited = true;
		       }
		   });
		</script> -->

		<!-- <script>
		    $(function () {
			    $("body>[data-role='panel']").panel();
			    $("#externalpanel ul").listview();
			    $("#externalpanel").trigger("create");
			});
		</script> -->
		
    </head>

    <body>
    	<div id="page" data-role="page">
    		<div class="ui-state-persist" id="main-header" data-theme="" data-role="header" data-position="fixed">
		        <h3>Newman!</h3>
		        <a data-controltype="panelbutton" data-role="button" data-inline="false" href="#externalpanel" data-icon="bars" data-iconpos="notext">
		        </a>
		        <a data-role="button" href="#page" data-icon="home" data-iconpos="notext"class="ui-btn-right">
		        </a>
		    </div>
		    
		    
    		<div class="content">
    		</div>
    		
    		
    		<!-- <div>
	    		<div data-role="header">
	                <h1>External panels</h1>
	            </div>
	            <div role="main" class="ui-content jqm-content jqm-fullwidth">
	                <a href="#externalpanel" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini">Open External Panel</a>
	            </div>
	        </div> -->
	        <div data-role="panel" id="externalpanel" data-position="left" data-display="overlay" data-theme="a">
	            <h2>Menu</h2>
	            <ul data-role="listview" style="padding-right: 8px">
	                <li data-icon="false"><a id="menu-add-event"   href="#">Add Event</a></li>
	                <li data-icon="false"><a id="menu-view-events" href="#">View Events</a></li>
	                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
	                    <h2 style="margin: 0;">Submenu 3</h2>
	                    <ul data-role="listview" class="red">
	                        <li data-icon="false"><a href="#">Item 1</a></li>
	                        <li data-icon="false"><a href="#">Item 2</a></li>
	                        <li data-icon="false"><a href="#">Item 3</a></li>
	                    </ul>
	                </li>
	                <li data-icon="false"><a href="#" style="border: 0">Submenu 4</a></li>
	                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
	                    <h2 style="margin: 0;">Submenu 5</h2>
	                    <ul data-role="listview">
	                        <li data-icon="false"><a href="#">Item 1</a></li>
	                        <li data-icon="false"><a href="#">Item 2</a></li>
	                        <li data-icon="false"><a href="#">Item 3</a></li>
	                    </ul>
	                </li>
	                <li data-icon="false"><a href="#" style="border: 0">Submenu 6</a></li>
	            </ul>
	        </div>
    		
    	</div>
    	
    	
    	
    	
    	<script type="text/template" id="login-template">
	      <header id="header"></header>
	      <div class="login">
	        <form class="login-form">
	          <h2>Log In</h2>
	          <div class="error" style="display:none"></div>
	          <input type="text" id="login-username" placeholder="Username" />
	          <input type="password" id="login-password" placeholder="Password" />
	          <button>Log In</button>
	        </form>
	
	        <form class="signup-form">
	          <h2>Sign Up</h2>
	          <div class="error" style="display:none"></div>
	          <input type="text" id="signup-username" placeholder="Username" />
	          <input type="password" id="signup-password" placeholder="Create a Password" />
	          <button>Sign Up</button>
	        </form>
	      </div>
	    </script>
	    
	    <script type="text/template" id="add-event-template">
	    	<div data-role="fieldcontain" data-controltype="textinput">
	            <label for="textinput1">
	                Event Name:
	            </label>
	            <input name="" id="event-name" placeholder="" value="" data-mini="true" type="text">
	        </div>
	        <div data-role="fieldcontain" data-controltype="textinput">
	            <label for="event-desc">
	                Event Description:
	            </label>
	            <textarea name="" id="event-desc" placeholder="" value=""></textarea>
	        </div>
	        <div data-role="fieldcontain" data-controltype="radiobuttons">
	            <fieldset id="event-invitation" data-role="controlgroup" data-type="horizontal" data-mini="true">
	                <legend>
	                    Who can come?
	                </legend>
	                <input id="event-anyone" name="" value="radio1" type="radio" checked="checked">
	                <label for="event-anyone">
	                    Anyone
	                </label>
	                <input id="event-invite" name="" value="radio2" type="radio">
	                <label for="event-invite">
	                    Invite Only
	                </label>
	            </fieldset>
	        </div>
	        <div id="checkboxes1" data-role="fieldcontain" data-controltype="checkboxes">
	            <fieldset id="event-recurring" data-role="controlgroup" data-type="horizontal">
	                <legend>
	                    Recurring event?
	                </legend>
	                <input id="event-recur" name="" type="checkbox">
	                <label for="event-recur">
	                	Yes
	                </label>
	            </fieldset>
        	</div>
        	<div id="event-recurrence">
	        	<div id="checkboxes3" data-role="fieldcontain" data-controltype="checkboxes">
		            <fieldset data-role="controlgroup" data-type="vertical">
		                <legend>
		                    Recurs every...
		                </legend>
		                <input id="checkbox3" name="" type="checkbox">
		                <label for="checkbox3">
		                    Monday
		                </label>
		                <input id="checkbox4" name="" type="checkbox">
		                <label for="checkbox4">
		                    Tuesday
		                </label>
		                <input id="checkbox5" name="" type="checkbox">
		                <label for="checkbox5">
		                    Wednesday
		                </label>
		                <input id="checkbox6" name="" type="checkbox">
		                <label for="checkbox6">
		                    Thursday
		                </label>
		                <input id="checkbox7" name="" type="checkbox">
		                <label for="checkbox7">
		                    Friday
		                </label>
		                <input id="checkbox8" name="" type="checkbox">
		                <label for="checkbox8">
		                    Saturday
		                </label>
		                <input id="checkbox9" name="" type="checkbox">
		                <label for="checkbox9">
		                    Sunday
		                </label>
		            </fieldset>
		        </div>
		        <div data-role="fieldcontain" data-controltype="radiobuttons">
		            <fieldset data-role="controlgroup" data-type="horizontal">
		                <legend>
		                    Each...
		                </legend>
		                <input id="radio3" name="" value="radio1" type="radio" checked="checked">
		                <label for="radio3">
		                    Week
		                </label>
		                <input id="radio4" name="" value="radio4" type="radio">
		                <label for="radio4">
		                    Month
		                </label>
		            </fieldset>
		        </div>
	        </div>
	        <div>
		        <label for="event-start">Start Date:</label>
				<input name="event-start" id="event-start" type="date" data-role="datebox"
				   data-options='{"mode": "calbox"}'>
		    
		    	<label for="start-time">Start Time</label>
				<input name="start-time" id="start-time" type="date" data-role="datebox"
				   data-options='{"mode": "timebox", "overrideTimeFormat": 12}'>
				   
			    <label for="end-time">End Time</label>
				<input name="myend-timedate" id="end-time" type="date" data-role="datebox"
				   data-options='{"mode": "timebox", "overrideTimeFormat": 12}'>
		   </div>
        	<input class="add-event" value="Submit" type="submit">
	    </script>
	    	
	    	
	    <script type="text/template" id="event-item-template">			
			<div class="event-item-collapse" data-role="collapsible" data-iconpos="right" data-mini="true">
				<h3 id="<%= name + '-header' %>"><%= name %></h3>
				<div id="<%= name + '-content' %>">
					<p>Starts - <%= start %></p>
					<p>Ends - <%= end %></p>
					<%= desc.replace(new RegExp('\r?\n', 'g'), '<br />') %>
					<br>
					<button style="width:100px">Subscribe</button>
				</div>
			</div>
	    </script>
    	
    	
        <!-- <h1>New Web Project Page</h1>

        <a href="#menu">Click</a>

        <p>Hallo!</p>

            <div data-role="header">
                <h1>External panels</h1>
            </div>
            <div role="main" class="ui-content jqm-content jqm-fullwidth">
                <a href="#externalpanel" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini">Open External Panel</a>
            </div>
        </div>
        <div data-role="panel" id="externalpanel" data-position="left" data-display="overlay" data-theme="a">
            <h2>Menu</h2>
            <ul data-role="listview" style="padding-right: 8px">
                <li data-icon="false"><a href="#">Submenu 1</a></li>
                <li data-icon="false"><a href="#">Submenu 2</a></li>
                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
                    <h2 style="margin: 0;">Submenu 3</h2>
                    <ul data-role="listview" class="red">
                        <li data-icon="false"><a href="#">Item 1</a></li>
                        <li data-icon="false"><a href="#">Item 2</a></li>
                        <li data-icon="false"><a href="#">Item 3</a></li>
                    </ul>
                </li>
                <li data-icon="false"><a href="#" style="border: 0">Submenu 4</a></li>
                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
                    <h2 style="margin: 0;">Submenu 5</h2>
                    <ul data-role="listview">
                        <li data-icon="false"><a href="#">Item 1</a></li>
                        <li data-icon="false"><a href="#">Item 2</a></li>
                        <li data-icon="false"><a href="#">Item 3</a></li>
                    </ul>
                </li>
                <li data-icon="false"><a href="#" style="border: 0">Submenu 6</a></li>
            </ul>
        </div> -->










        <!-- <div data-role="footer" data-position="fixed">
			<h1>Fixed Footer!</h1>
		</div> -->

	  	<!-- <nav id="menu">
		   <ul>
		      <li><a href="index.html">Home</a></li>
		      <li>
		        <a>Community</a>
                <ul>
                    <li><a href="www/pages/community/houses.html"  >Community Houses</a></li>
                    <li><a href="www/pages/community/mwgroups.html">Men's & Women's Groups</a></li>
                    <li><a href="www/pages/community/retreats.html">Retreats</a></li>
                    <li><a href="www/pages/community/events.html"  >Other Activities & Events</a></li>
                </ul>
		      </li>
		      <li><a href="www/pages/sacraments/">Sacraments & Ministries</a></li>
              <li><a href="www/pages/calendar/"  >Calendar</a></li>
		      <li>
		      	<a>Prayers</a>
		      	<ul>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(1)">One</a></li>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(2)">Two</a></li>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(3)">Three</a></li>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(4)">Four</a></li>
		      	</ul>
		      </li>
              <li><a href="www/pages/more/">More</a></li>
	      </ul>
		</nav>-->

		<!--<script>
            $( document ).on( "pageinit", "#page", function( event ) {
                console.log("Mainpage here - " + menuInited);

                if(!menuInited) {
                    $("#menu").mmenu({
                     classes: "mm-light mm-slide",
                     zposition: "front",
                     onClick: {setSelected: true, preventDefaut: null, close: true, blockUI: null}
                    });
                    menuInited = true;
                }
            });
    </script> -->

    </body>
</html>
