<!-- <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd"> -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="initial-scale=1.0, target-densitydpi=device-mdpi">
<!-- width=device-width, -->
        <title>New Web Project</title>

        <link type="text/css" rel="stylesheet" media="all" href="www/css/jquery.mobile-1.4.0.css" />
        <link type="text/css" rel="stylesheet" media="all" href="www/css/jquery-mobile-fluid960.min.css" />
		<link type="text/css" rel="stylesheet" media="all" href="www/css/jqm-datebox-1.4.0.min.css" />
		<link type="text/css" rel="stylesheet" media="all" href="www/css/custom.css" />

        <script type="text/javascript" src="www/js/libraries/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="www/js/libraries/jquery.mobile-1.4.0.js"></script>
        <script type="text/javascript" src="www/js/libraries/jqm-datebox-1.4.0.comp.calbox.min.js"></script>
        <script type="text/javascript" src="www/js/libraries/jqm-datebox-1.4.0.mode.datebox.min.js"></script>
        <!-- <script type="text/javascript" src="www/js/jquery.mmenu.min.all.js"></script> -->
   		<script type="text/javascript" src="www/js/libraries/underscore-1.5.2.js"></script>
        <script type="text/javascript" src="www/js/libraries/parse-1.2.16.js"></script>
        <script type="text/javascript" src="www/js/libraries/fastclick.js"></script>
        <script type="text/javascript" src="www/js/libraries/moment.min.js"></script>
        <script type="text/javascript" src="www/js/libraries/sha512.js"></script>
        
        <script type="text/javascript" src="www/js/initialize.js"></script>
        <script type="text/javascript" src="www/js/events.js"></script>
        <script type="text/javascript" src="www/js/user-settings.js"></script>
        <script type="text/javascript" src="www/js/calendar-view.js"></script>
        <script type="text/javascript" src="www/js/myscript.js"></script>
		<!-- <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.0/jquery.mobile-1.4.0.min.js"></script>
         -->

   		<!-- <script type="text/javascript">
   		   $(document).ready(function() {
   		       if(!menuInited) {
    		      $("#menu").mmenu({
    		         classes: "mm-light mm-slide",
             		 zposition: "front",
             		 onClick: {setSelected: true, preventDefaut: null, close: true, blockUI: null}
    		      });

    		      menuInited = true;
		       }
		   });
		</script> -->

		<!-- <script>
		    $(function () {
			    $("body>[data-role='panel']").panel();
			    $("#externalpanel ul").listview();
			    $("#externalpanel").trigger("create");
			});
		</script> -->
		<script>
		    function testDate() {
		    	var dater = moment("2014-02-14", "YYYY-MM-DD");
		    	alert(dater.toDate());
		    }
		    
		</script>
		
		<script>
		    function onDeviceReady() {
		    	alert("DEVICE READY");
				alert("" + device.uuid);
		    }
		    
			$(document).ready(function() {
			    // are we running in native app or in a browser?
			    window.isphone = false;
			    if(document.URL.indexOf("http://") === -1 
			        && document.URL.indexOf("https://") === -1) {
			        window.isphone = true;
			    }
			
			    if( window.isphone ) {
			        document.addEventListener("deviceready", onDeviceReady, false);
			    } else {
			        onDeviceReady();
			    }
			});
		    
	    </script>

		
    </head>

    <body>
    	<div id="page" data-role="page">
    		<div class="ui-state-persist" id="main-header" data-theme="" data-role="header" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false">
		        <h3>Newman!</h3>
		        <a data-controltype="panelbutton" data-role="button" data-inline="false" href="#externalpanel" data-icon="bars" data-iconpos="notext">
		        </a>
		        <a data-role="button" href="#" data-icon="home" data-iconpos="notext"class="ui-btn-right" onclick="changeView(new TwoWeekView); return false;">
		        </a>
		    </div>
		    
		    
    		<div class="content">
    		</div>
    		
    		<!-- 
    			
    			<div data-role="page" id="page1">
					<div data-role="header">
						<h1>jQuery Mobile Example</h1>
					</div>
					<div role="main" class="ui-content">
						<a href="#dialogPage" data-rel="dialog">Open dialog</a>
					</div>
					<div data-role="footer">
						<h2></h2>
					</div>
				</div>
				
				<div data-role="page" id="dialogPage">
					<div data-role="header">
						<h2>Dialog</h2>
					</div>
					<div role="main" class="ui-content">
						<p>I am a dialog</p>
					</div>
				</div>
    			
    			
    		-->
    		
    		
		        <div style="display: none">
					<input name="event-start" id="display-calendar" type="date" data-role="datebox"
						data-options='{"mode": "calbox", "dialogForce": true}'>
			   </div>
			   
			   <!-- <input name="mydate" id="mydate" type="date" data-role="datebox"
   					data-options='{"mode":"calbox", "useSetButton":false, "useInline": true}'> -->
    		
    		<div class="ui-state-persist" id="settings-footer" data-theme="" data-role="footer" data-position="fixed" data-tap-toggle="false" data-hide-during-focus="false" style="display:none">
    			<div data-role="navbar">
    				<ul>
    					<li><a id="profile-settings"  href="#" onclick="replaceView(new UserProfileView)">Profile</a></li>
    					<li><a id="settings-settings" href="#" >Settings</a></li>
    					<li><a id="subs-settings"     href="#" onclick="replaceView(new UserSubscriptionView)">Subscriptions</a></li>
    				</ul>
    			</div>
		    </div>
    		
    		
    		<!-- <div>
	    		<div data-role="header">
	                <h1>External panels</h1>
	            </div>
	            <div role="main" class="ui-content jqm-content jqm-fullwidth">
	                <a href="#externalpanel" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini">Open External Panel</a>
	            </div>
	        </div> -->
	        <div data-role="panel" id="externalpanel" data-position="left" data-display="overlay" data-theme="a">
	            <h2>Menu</h2>
	            <ul data-role="listview" style="padding-right: 8px">
	                <li data-icon="false"><a id="menu-add-event"   		href="#">Add Event</a></li>
	                <li data-icon="false"><a id="menu-view-events" 		href="#">View Events</a></li>
	                <li data-icon="false"><a id="menu-account-settings" href="#">Settings</a></li>
	                <li data-icon="false"><a id="event-calendar" 		href="#">Calendar</a></li>
	                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
	                    <h2 style="margin: 0;">Submenu 3</h2>
	                    <ul data-role="listview" class="red">
	                        <li data-icon="false"><a href="#">Item 1</a></li>
	                        <li data-icon="false"><a href="#">Item 2</a></li>
	                        <li data-icon="false"><a href="#">Item 3</a></li>
	                    </ul>
	                </li>
	                <li data-icon="false"><a href="#" style="border: 0">Submenu 4</a></li>
	                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
	                    <h2 style="margin: 0;">Submenu 5</h2>
	                    <ul data-role="listview">
	                        <li data-icon="false"><a href="#">Item 1</a></li>
	                        <li data-icon="false"><a href="#">Item 2</a></li>
	                        <li data-icon="false"><a href="#">Item 3</a></li>
	                    </ul>
	                </li>
	                <li data-icon="false"><a href="#" style="border: 0">Submenu 6</a></li>
	            </ul>
	        </div>
    		
    	</div>
    	
    	<div data-role="page" id="calendarPage">
			<div data-role="header">
				<h2>Dialog</h2>
			</div>
			<div role="main" class="ui-content">
			</div>
		</div>
		
		<script type="text/template" id="calendar-template">
			<input name="main-calendar" id="main-calendar" type="date" data-role="datebox"
				data-options='{"mode":"calbox", "useSetButton":false, "useInline": true, "highDates": [<%= highDates %>]}'>
			
			<br>
			
			<div id="calendar-view" data-role="collapsible-set"></div>
	    </script>
    	
    	
    	<!--------------------------------------------------------------------------------------------------
	    --	
	    --
	    --
	    --			LOGIN VIEW
	    --
	    --
	    --	
	    --------------------------------------------------------------------------------------------------->
    	
    	
    	<script type="text/template" id="login-template">
	      <header id="header"></header>
	      <div class="login">
	        <form class="login-form">
	          <h2>Log In</h2>
	          <div class="error" style="display:none"></div>
	          <input type="text" id="login-username" placeholder="Username" />
	          <input type="password" id="login-password" placeholder="Password" />
	          <button>Log In</button>
	        </form>
	
	        <form class="signup-form">
	          <h2>Sign Up</h2>
	          <div class="error" style="display:none"></div>
	          <input type="text" id="signup-username" placeholder="Username" />
	          <input type="password" id="signup-password" placeholder="Create a Password" />
	          <button>Sign Up</button>
	        </form>
	      </div>
	    </script>
	    
	    
	    <!--------------------------------------------------------------------------------------------------
	    --	
	    --
	    --
	    --			ADD EVENT PAGE
	    --
	    --
	    --	
	    --------------------------------------------------------------------------------------------------->
	    
	    <script type="text/template" id="add-event-template">
	    	<div data-role="fieldcontain" data-controltype="textinput">
	            <label for="textinput1">
	                Event Name:
	            </label>
	            <input name="" id="event-name" placeholder="" value="" data-mini="true" type="text">
	        </div>
	        <div data-role="fieldcontain" data-controltype="textinput">
	            <label for="event-desc">
	                Event Description:
	            </label>
	            <textarea name="" id="event-desc" placeholder="" value=""></textarea>
	        </div>
	        <div id="event-invitation">
		        <div data-role="fieldcontain" data-controltype="radiobuttons">
		            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
		                <legend>
		                    Who can come?
		                </legend>
		                <input id="event-anyone" name="group1" value="radio1" type="radio" checked="checked">
		                <label for="event-anyone">
		                    Anyone
		                </label>
		                <input id="event-invite" name="group1" value="radio2" type="radio">
		                <label for="event-invite">
		                    Invite Only
		                </label>
		            </fieldset>
		        </div>
	        </div>
	        <div id="event-recurring">
		        <div id="checkboxes1" data-role="fieldcontain" data-controltype="checkboxes">
		            <fieldset data-role="controlgroup" data-type="horizontal">
		                <legend>
		                    Recurring event?
		                </legend>
		                <input id="event-recur" name="group3" type="checkbox">
		                <label for="event-recur">
		                	Yes
		                </label>
		            </fieldset>
	        	</div>
        	</div>
        	<div id="event-recurrence">
	        	<div id="checkboxes3" data-role="fieldcontain" data-controltype="checkboxes">
		            <fieldset data-role="controlgroup" data-type="vertical">
		                <legend>
		                    Recurs every...
		                </legend>
		                <input id="recur-sunday" name="group4" type="checkbox">
		                <label for="recur-sunday">
		                    Sunday
		                </label>
		                <input id="recur-monday" name="group4" type="checkbox">
		                <label for="recur-monday">
		                    Monday
		                </label>
		                <input id="recur-tuesday" name="group4" type="checkbox">
		                <label for="recur-tuesday">
		                    Tuesday
		                </label>
		                <input id="recur-wednesday" name="group4" type="checkbox">
		                <label for="recur-wednesday">
		                    Wednesday
		                </label>
		                <input id="recur-thursday" name="group4" type="checkbox">
		                <label for="recur-thursday">
		                    Thursday
		                </label>
		                <input id="recur-friday" name="group4" type="checkbox">
		                <label for="recur-friday">
		                    Friday
		                </label>
		                <input id="recur-saturday" name="group4" type="checkbox">
		                <label for="recur-saturday">
		                    Saturday
		                </label>
		            </fieldset>
		        </div>
		        <div id="recur-freq">
			        <div data-role="fieldcontain" data-controltype="radiobuttons">
			            <fieldset data-role="controlgroup" data-type="horizontal">
			                <legend>
			                    Each...
			                </legend>
			                <input id="radio3" name="group2" value="radio1" type="radio" checked="checked">
			                <label for="radio3">
			                    Week
			                </label>
			                <input id="radio4" name="group2" value="radio4" type="radio">
			                <label for="radio4">
			                    Month
			                </label>
			            </fieldset>
			        </div>
		        </div>
	        </div>
	        <div>
		        <label for="event-start">Start Date:</label>
				<input name="event-start" id="event-start" type="date" data-role="datebox"
				   data-options='{"mode": "calbox"}'>
		    
		    	<label for="start-time">Start Time:</label>
				<input name="start-time" id="start-time" type="date" data-role="datebox"
				   data-options='{"mode": "timebox", "overrideTimeFormat": 12}'>
				   
			    <label for="end-time">End Time:</label>
				<input name="myend-timedate" id="end-time" type="date" data-role="datebox"
				   data-options='{"mode": "timebox", "overrideTimeFormat": 12}'>
		   </div>
        	<input class="add-event" value="Submit" type="submit" style="width:50%">
	    </script>
	    
	    <!--------------------------------------------------------------------------------------------------
	    --	
	    --
	    --
	    --			TWO WEEK EVENT VIEW
	    --
	    --
	    --	
	    --------------------------------------------------------------------------------------------------->
	    	
	    	
	    <script type="text/template" id="event-item-template">
			<h3 id="<%= name + '-header' %>"><%= name + " - " + startDate %></h3>
			<div id="<%= name + '-content' %>">
				<b>Starts:</b> <%= start %><br />
				<b>Ends:</b> <%= end %><br />
				<div style="display:<%= (recur) ? 'block' : 'none' %>"><b>Recurs:</b> Every <%= (each == 0) ? 'week' : 'month' %> on <%= recurring %> </div>
				<b>Started by:</b> <%= username %><br /><br />
				
				<%= desc.replace(new RegExp('\r?\n', 'g'), '<br />') %><br />
				
				<button data-role="button" data-mini="true" class="subscribe" style="width:100px" <%= subed ? 'disabled="true"' : 'enabled="true"' %> >
					<%= subed ? 'Subscribed!' : 'Subscribe' %>
				</button>
			</div>
	    </script>
	    
	    <script type="text/template" id="two-week-template">
	    	<div id="two-week-view">		
				<h3>Events this week</h3>
				<div class="week1" data-role="collapsible-set"></div>
				
				<h3>Events next week</h3>
				<div class="week2" data-role="collapsible-set"></div>
			</div>
	    </script>
	    
	    <!--------------------------------------------------------------------------------------------------
	    --	
	    --
	    --
	    --			USER SETTINGS
	    --
	    --
	    --	
	    --------------------------------------------------------------------------------------------------->
	    
	    <script type="text/template" id="user-profile-settings">
	    	<!-- <div data-role="fieldcontain">
		    	<label for="name-input">Username: </label>
		    	<input id="name-input" type="text"  name="" placeholder="" value="<%= username %>" data-mini="true" readonly="true">
	    	</div> -->
	    	
	    	<div class="container_12">
	        	<div class="grid_5"><b>Username: </b></div>
	        	<div class="grid_7"><%= username %></div>
	        </div>
	    	
	    	<!-- <p><b>Username: </b> <%= username %></p> -->
	    	
	        <p><b>Change Password:</b></p>
	        
	        <div class="container_12">
	        	<div class="grid_5" style="margin-top: 10px">New Password:</div>
	        	<div class="grid_7"><input id="pass-input" type="text" data-mini="true"></div>
	        </div>
	        <div class="container_12">
	        	<div class="grid_5" style="margin-top: 10px">Repeat Password:</div>
	        	<div class="grid_7"><input id="pass-input" type="text" data-mini="true"></div>
	        </div>
	        
	        <div class="container_12">
	        	<div class="grid_5">&nbsp;</div>
	        	<div class="grid_7"><input id="pass-change" type="button" name="Submit" value="Submit"/></div>
	        </div>
	        
	        <!-- <div data-role="fieldcontain">
	      		<label for="pass-input">New Password:</label>
    	  	 	<input id="pass-input" type="text" data-mini="true">
    	    </div>
    	  
    	    <div data-role="fieldcontain">
	      		<label for="repeat-input">Repeat Password:</label>
    	  		<input id="repeat-input" type="text"  name="" placeholder="" value="" data-mini="true">
    	  	</div> -->
    	  
		  	<!-- <input id="pass-change" type="button" name="Submit" value="Submit"/> -->
	    </script>
	    
	    
	    <script type="text/template" id="event-sub-template">
	      	<fieldset class="ui-grid-b">
	      		<h5 class="ui-block-a" style="margin-top: 15px"><%= name %></h5>
				<div class="ui-block-b"><input data-mini="true" class="edit" type="button" value="Edit" /></div>
				<div class="ui-block-c"><label>Remove<input id="remove"class="remove" data-mini="true" type="checkbox" value="Remove" /></label></div>	   
			</fieldset>
	    </script>
	    
	    <script type="text/template" id="user-subscription-settings">
			<h3>One-Time Subscriptions</h3>
			<div id="once-subs"></div>
			
			<h3>Recurring Subscriptions</h3>
			<div id="recur-subs"></div>
			
	    	<div class="ui-grid-a">
		    	<div class="ui-block-a"><button id="undo-changes" type="button">Undo Changes</button></div>
		    	<div class="ui-block-b"><button id="save-changes" type="button">Save Changes</button></div>
	    	</div>
	    </script>
	    
	    <!--------------------------------------------------------------------------------------------------
	    --	
	    --
	    --
	    --			CALENDAR VIEWS
	    --
	    --
	    --	
	    --------------------------------------------------------------------------------------------------->
    	
    	<script type="text/template" id="calendar-event-template">
      		<div class="grid_5"><b style="text-align:center; font-size: 12px"><%= name %></b></div>
			<div class="grid_3"><input data-mini="true" class="edit" type="button" value="View" /></div>
			<div class="grid_4"><input data-mini="true" class="edit" type="button" value="Subscribe" /></div>
	    </script>
	    
	    <script type="text/template" id="calendar-view-template">
					<!-- <a href="#dialogPage" data-rel="dialog">Open dialog</a> -->
			<div data-role="page" id="calendarPage">
				<div data-role="header">
					<h2>Dialog</h2>
				</div>
				<div role="main" class="ui-content">
				</div>
			</div>
		</script>
    	
    	
    	
        <!-- <h1>New Web Project Page</h1>

        <a href="#menu">Click</a>

        <p>Hallo!</p>

            <div data-role="header">
                <h1>External panels</h1>
            </div>
            <div role="main" class="ui-content jqm-content jqm-fullwidth">
                <a href="#externalpanel" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini">Open External Panel</a>
            </div>
        </div>
        <div data-role="panel" id="externalpanel" data-position="left" data-display="overlay" data-theme="a">
            <h2>Menu</h2>
            <ul data-role="listview" style="padding-right: 8px">
                <li data-icon="false"><a href="#">Submenu 1</a></li>
                <li data-icon="false"><a href="#">Submenu 2</a></li>
                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
                    <h2 style="margin: 0;">Submenu 3</h2>
                    <ul data-role="listview" class="red">
                        <li data-icon="false"><a href="#">Item 1</a></li>
                        <li data-icon="false"><a href="#">Item 2</a></li>
                        <li data-icon="false"><a href="#">Item 3</a></li>
                    </ul>
                </li>
                <li data-icon="false"><a href="#" style="border: 0">Submenu 4</a></li>
                <li data-role="collapsible" data-iconpos="right" data-inset="false" data-collapsed-icon="carat-d" data-expanded-icon="carat-u" style="padding: 0; border: 0;">
                    <h2 style="margin: 0;">Submenu 5</h2>
                    <ul data-role="listview">
                        <li data-icon="false"><a href="#">Item 1</a></li>
                        <li data-icon="false"><a href="#">Item 2</a></li>
                        <li data-icon="false"><a href="#">Item 3</a></li>
                    </ul>
                </li>
                <li data-icon="false"><a href="#" style="border: 0">Submenu 6</a></li>
            </ul>
        </div> -->










        <!-- <div data-role="footer" data-position="fixed">
			<h1>Fixed Footer!</h1>
		</div> -->

	  	<!-- <nav id="menu">
		   <ul>
		      <li><a href="index.html">Home</a></li>
		      <li>
		        <a>Community</a>
                <ul>
                    <li><a href="www/pages/community/houses.html"  >Community Houses</a></li>
                    <li><a href="www/pages/community/mwgroups.html">Men's & Women's Groups</a></li>
                    <li><a href="www/pages/community/retreats.html">Retreats</a></li>
                    <li><a href="www/pages/community/events.html"  >Other Activities & Events</a></li>
                </ul>
		      </li>
		      <li><a href="www/pages/sacraments/">Sacraments & Ministries</a></li>
              <li><a href="www/pages/calendar/"  >Calendar</a></li>
		      <li>
		      	<a>Prayers</a>
		      	<ul>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(1)">One</a></li>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(2)">Two</a></li>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(3)">Three</a></li>
		      		<li><a href="www/pages/prayer.html" onclick="setPrayer(4)">Four</a></li>
		      	</ul>
		      </li>
              <li><a href="www/pages/more/">More</a></li>
	      </ul>
		</nav>-->

		<!--<script>
            $( document ).on( "pageinit", "#page", function( event ) {
                console.log("Mainpage here - " + menuInited);

                if(!menuInited) {
                    $("#menu").mmenu({
                     classes: "mm-light mm-slide",
                     zposition: "front",
                     onClick: {setSelected: true, preventDefaut: null, close: true, blockUI: null}
                    });
                    menuInited = true;
                }
            });
    </script> -->

    </body>
</html>
